* {
  margin: 5px;
  padding: 10px;
}

main {
  display: flex;
  padding: 10px;
  background-color: cadetblue;
}

footer {
  background-color: chocolate;
  color: cornflowerblue;
  justify-content: center;
}
